.gallery__item {
  margin: 2px;
  background-color: #c8ccbc;
  position: relative;
  flex-grow: 1;
  height: 200px;
  overflow: hidden;
  transition: transform .3s ease;
}

.gallery__item:focus {
  outline: 2px solid #57906a;
}

.gallery__item-img {
  min-width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  vertical-align: bottom;
  opacity: 1;
  transition: opacity .3s ease;
}

.gallery__item-img--hidden {
  opacity: 0;
}
